{% extends 'blog/base.html' %}
{% block title %}Boletins Internos 2015{% endblock %}
{% block content %}
<div class="container-fluid">
  <h2>Boletins Internos 2015</h2>
  <!--A tag <strong> é uma tag de frase. Define texto importante.
  Dica: essa tag não está obsoleta, mas é possível obter um efeito mais rico com o CSS. -->
  <!-- <strong>MESES ANIVERSÁRIANTES DO CIMH</strong> -->
  <strong>BOLETINS INTERNOS DO CIMH</strong>
  <!-- <br>
  <br> -->
  <div class="container" style="margin-top:30px">
    <!-- <div class="container" align="center"> -->
    <!-- <div class="container" style="margin-top:30px;margin-left:40px"> -->
    <div class="row">
      <div class="col-sm" align="center">
      </div>
      <!-- <div class="col-sm" align="center">
      </div> -->
      <div class="col-sm-6" align="center">
        <!-- <div class="col-sm-9" align="center"> -->
        <!-- <div align="center"> -->
        <!-- <div class="p-1 p-md-5" align="center"> -->
        <!-- <div class="table-responsive-sm"> -->
        <!-- <div class="table table-responsive-sm"> -->

        <!-- {% load static %}
        <a href="/bi201511/"><img src="{% static 'imagens/button/janeiro.png' %}" alt="Imagem de um botão que tem escrito nele Janeiro" title="Mês de Janeiro"></a>
        <a href="/bi201512/"><img src="{% static 'imagens/button/fevereiro.png' %}" alt="Imagem de um botão que tem escrito nele Fevereiro" title="Mês de Fevereiro"></a>
        <a href="/bi201513/"><img src="{% static 'imagens/button/marco.png' %}" alt="Imagem de um botão que tem escrito nele Março" title="Mês de Março"></a>
        <a href="/bi201514/"><img src="{% static 'imagens/button/abril.png' %}" alt="Imagem de um botão que tem escrito nele Abril" title="Mês de Abril"></a>
        <a href="/bi201515/"><img src="{% static 'imagens/button/maio.png' %}" alt="Imagem de um botão que tem escrito nele Maio" title="Mês de Maio"></a>
        <a href="/bi201516/"><img src="{% static 'imagens/button/junho.png' %}" alt="Imagem de um botão que tem escrito nele Junho" title="Mês de Junho"></a>
        <a href="/bi201517/"><img src="{% static 'imagens/button/julho.png' %}" alt="Imagem de um botão que tem escrito nele Julho" title="Mês de Julho"></a>
        <a href="/bi201518/"><img src="{% static 'imagens/button/agosto.png' %}" alt="Imagem de um botão que tem escrito nele Agosto" title="Mês de Agosto"></a>
        <a href="/bi201519/"><img src="{% static 'imagens/button/setembro.png' %}" alt="Imagem de um botão que tem escrito nele Setembro" title="Mês de Setembro"></a>
        <a href="/bi2015110/"><img src="{% static 'imagens/button/outubro.png' %}" alt="Imagem de um botão que tem escrito nele Outubro" title="Mês de Outubro"></a>
        <a href="/bi2015111/"><img src="{% static 'imagens/button/novembro.png' %}" alt="Imagem de um botão que tem escrito nele Novembro" title="Mês de Novembro"></a>
        <a href="/bi2015112/"><img src="{% static 'imagens/button/dezembro.png' %}" alt="Imagem de um botão que tem escrito nele Dezembro" title="Mês de Dezembro"></a>
      -->
        <br>
        <a href="/bi201511/" class="btn btn-dark btn-medio" role="button">JANEIRO</a>
        <a href="/bi201512/" class="btn btn-dark btn-medio" role="button">FEVEREIRO</a>
        <a href="/bi201513/" class="btn btn-dark btn-medio" role="button">MARÇO</a>
        <br><br>
        <a href="/bi201514/" class="btn btn-dark btn-medio" role="button">ABRIL</a>
        <a href="/bi201515/" class="btn btn-dark btn-medio" role="button">MAIO</a>
        <a href="/bi201516/" class="btn btn-dark btn-medio" role="button">JUNHO</a>
        <br><br>
        <a href="/bi201517/" class="btn btn-dark btn-medio" role="button">JULHO</a>
        <a href="/bi201518/" class="btn btn-dark btn-medio" role="button">AGOSTO</a>
        <a href="/bi201519/" class="btn btn-dark btn-medio" role="button">SETEMBRO</a>
        <br><br>
        <a href="/bi2015110/" class="btn btn-dark btn-medio" role="button">OUTUBRO</a>
        <a href="/bi2015111/" class="btn btn-dark btn-medio" role="button">NOVEMBRO</a>
        <a href="/bi2015112/" class="btn btn-dark btn-medio" role="button">DEZEMBRO</a>
      </div> <!-- <div class="col-sm-9" align="center"> -->
      <div class="col-sm" align="center">
      </div>
    </div>
  </div>
</div>
{% endblock %}
