{% extends 'blog/base.html' %}
{% block title %}Boletins Internos Setembro 2015{% endblock %}
{% block content %}
<div class="container-fluid">
  <h2>Boletins Internos 2015</h2>
  <strong>BOLETINS INTERNOS DO CIMH</strong>
  <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm">
          <a href="/bi20151/" class="btn btn-dark  btn-sm" role="button">Voltar</a>
          <!-- {% load static %}
          <a href="/bi20151/"><img src="{% static 'imagens/button/voltar.png' %}" alt="Imagem de um botão que tem escrito nele "voltar". Clicando neste botão ele faz retornar para página principal dos meses dos boletins, onde mostra todos os meses do ano" title="Opção voltar"></a> -->
        </div>
        <div class="col-sm-8" align="center">
          <br><br>
          <h2>Boletins de Setembro</h2>
          <br>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr align="center"> <!-- linha -->
                  <th> ORDEM </th> <!-- Cabeçalho -->
                  <th> Nº BI </th>
                </tr>
                <tr align="center">
                  <td> 71 </td> <!-- Célula/Coluna-->
                  <td> <a href="{% static 'midia/arquivos/boletins/bi2015/setembro2015/BI_071_1_Set_15.pdf' %}" target="_blank"> BI DIA 01 SET 2015 </a> </td>
                </tr>
                <tr align="center">
                  <td> 72 </td> <!-- Célula/Coluna-->
                  <td> <a href="{% static 'midia/arquivos/boletins/bi2015/setembro2015/BI_072_4_Set_15.pdf' %}" target="_blank"> BI DIA 04 SET 2015 </a> </td>
                </tr>
                <tr align="center">
                  <td> 73 </td> <!-- Célula/Coluna-->
                  <td> <a href="{% static 'midia/arquivos/boletins/bi2015/setembro2015/BI_073_8_Set_15.pdf' %}" target="_blank"> BI DIA 08 SET 2015 </a> </td>
                </tr>
                <tr align="center">
                  <td> 74 </td> <!-- Célula/Coluna-->
                  <td> <a href="{% static 'midia/arquivos/boletins/bi2015/setembro2015/BI_074_11_Set_15.pdf' %}" target="_blank"> BI DIA 11 SET 2015 </a> </td>
                </tr>
                <tr align="center">
                  <td> 75 </td> <!-- Célula/Coluna-->
                  <td> <a href="{% static 'midia/arquivos/boletins/bi2015/setembro2015/BI_075_15_Set_15.pdf' %}" target="_blank"> BI DIA 15 SET 2015 </a> </td>
                </tr>
                <tr align="center">
                  <td> 76 </td> <!-- Célula/Coluna-->
                  <td> <a href="{% static 'midia/arquivos/boletins/bi2015/setembro2015/BI_076_18_Set_15.pdf' %}" target="_blank"> BI DIA 18 SET 2015 </a> </td>
                </tr>
                <tr align="center">
                  <td> 77 </td> <!-- Célula/Coluna-->
                  <td> <a href="{% static 'midia/arquivos/boletins/bi2015/setembro2015/BI_077_22_Set_15.pdf' %}" target="_blank"> BI DIA 22 SET 2015 </a> </td>
                </tr>
                <tr align="center">
                  <td> 78 </td> <!-- Célula/Coluna-->
                  <td> <a href="{% static 'midia/arquivos/boletins/bi2015/setembro2015/BI_078_25_Set_15.pdf' %}" target="_blank"> BI DIA 25 SET 2015 </a> </td>
                </tr>
                <tr align="center">
                  <td> 79 </td> <!-- Célula/Coluna-->
                  <td> <a href="{% static 'midia/arquivos/boletins/bi2015/setembro2015/BI_079_29_Set_15.pdf' %}" target="_blank"> BI DIA 29 SET 2015 </a> </td>
                </tr>
              </tbody> <!--<tbody> corpo da tabela -->
            </table> <!-- <table class="table table-hover"> -->
            <!-- </div>  <div class="table-overflow">  -->
          </div> <!--   <div class="table-responsive"> -->
        </div> <!-- <div class="col-sm-9" align="center"> -->
        <div class="col-sm" align="center">
        </div>
      </div> <!--  <div class="row"> -->
    </div> <!-- div que abrange a tabela <div class="container" style="margin-top:30px"> -->
  </div> <!-- div principal(da página inteira) - <div class="container-fluid"> -->
{% endblock %}
