{% extends 'blog/base.html' %}
{% block title %}Boletins Internos Julho 2015{% endblock %}
{% block content %}
<div class="container-fluid">
  <h2>Boletins Internos 2015</h2>
  <strong>BOLETINS INTERNOS DO CIMH</strong>
  <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm">
          <a href="/bi20151/" class="btn btn-dark  btn-sm" role="button">Voltar</a>
          <!-- {% load static %}
          <a href="/bi20151/"><img src="{% static 'imagens/button/voltar.png' %}" alt="Imagem de um botão que tem escrito nele "voltar". Clicando neste botão ele faz retornar para página principal dos meses dos boletins, onde mostra todos os meses do ano" title="Opção voltar"></a> -->
        </div>
        <div class="col-sm-8" align="center">
          <br><br>
          <h2>Boletins de Julho</h2>
          <br>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr align="center"> <!-- linha -->
                  <th> ORDEM </th> <!-- Cabeçalho -->
                  <th> Nº BI </th>
                </tr>
                <tr align="center">
                  <td> 54 </td> <!-- Célula/Coluna-->
                  <td> <a href="{% static 'midia/arquivos/boletins/bi2015/julho2015/BI_054_3_Jul_15.pdf' %}" target="_blank"> BI DIA 03 JUL 2015 </a> </td>
                </tr>
                <tr align="center">
                  <td> 55 </td> <!-- Célula/Coluna-->
                  <td> <a href="{% static 'midia/arquivos/boletins/bi2015/julho2015/BI_055_07_Jul_15.pdf' %}" target="_blank"> BI DIA 07 JUL 2015 </a> </td>
                </tr>
                <tr align="center">
                  <td> 56 </td> <!-- Célula/Coluna-->
                  <td> <a href="{% static 'midia/arquivos/boletins/bi2015/julho2015/BI_056_10_Jul_15.pdf' %}" target="_blank"> BI DIA 10 JUL 2015 </a> </td>
                </tr>
                <tr align="center">
                  <td> 57 </td> <!-- Célula/Coluna-->
                  <td> <a href="{% static 'midia/arquivos/boletins/bi2015/julho2015/BI_057_14_Jul_15.pdf' %}" target="_blank"> BI DIA 14 JUL 2015 </a> </td>
                </tr>
                <tr align="center">
                  <td> 58 </td> <!-- Célula/Coluna-->
                  <td> <a href="{% static 'midia/arquivos/boletins/bi2015/julho2015/BI_058_17_Jul_15.pdf' %}" target="_blank"> BI DIA 17 JUL 2015 </a> </td>
                </tr>
                <tr align="center">
                  <td> 59 </td> <!-- Célula/Coluna-->
                  <td> <a href="{% static 'midia/arquivos/boletins/bi2015/julho2015/BI_059_21_Jul_15.pdf' %}" target="_blank"> BI DIA 21 JUL 2015 </a> </td>
                </tr>
                <tr align="center">
                  <td> 60 </td> <!-- Célula/Coluna-->
                  <td> <a href="{% static 'midia/arquivos/boletins/bi2015/julho2015/BI_060_24_Jul_15.pdf' %}" target="_blank"> BI DIA 24 JUL 2015 </a> </td>
                </tr>
                <tr align="center">
                  <td> 61 </td> <!-- Célula/Coluna-->
                  <td> <a href="{% static 'midia/arquivos/boletins/bi2015/julho2015/BI_061_28_Jul_15.pdf' %}" target="_blank"> BI DIA 28 JUL 2015 </a> </td>
                </tr>
                <tr align="center">
                  <td> 62 </td> <!-- Célula/Coluna-->
                  <td> <a href="{% static 'midia/arquivos/boletins/bi2015/julho2015/BI_062_31_Jul_15.pdf' %}" target="_blank"> BI DIA 31 JUL 2015 </a> </td>
                </tr>
              </tbody> <!--<tbody> corpo da tabela -->
            </table> <!-- <table class="table table-hover"> -->
            <!-- </div>  <div class="table-overflow">  -->
          </div> <!--   <div class="table-responsive"> -->
        </div> <!-- <div class="col-sm-9" align="center"> -->
        <div class="col-sm" align="center">
        </div>
      </div> <!--  <div class="row"> -->
    </div> <!-- div que abrange a tabela <div class="container" style="margin-top:30px"> -->
  </div> <!-- div principal(da página inteira) - <div class="container-fluid"> -->
{% endblock %}
