{% extends 'blog/base.html' %}
{% block title %}Ex-Diretores{% endblock %}
{% block content %}
<div class="container-fluid">
  <h2>Ex-Diretores</h2>
  <!--A tag <strong> é uma tag de frase. Define texto importante.
  Dica: essa tag não está obsoleta, mas é possível obter um efeito mais rico com o CSS. -->
  <strong>EX-COMANDANTES DO CIMH</strong>
  <br>
  <br>
  <div align="center">
    {% load static %}
    <img src="{% static 'imagens/albuns/galeria_cimh/ex_diretores/exdiretorescimh51.jpg' %}" alt="Galeria de fotos dos Ex-Diretores do Campo de Instrução Marechal Hermes" title="Galeria de Ex-Diretores do CIMH" />
  </div>
  <br>
  <br>
  <div align="center">
    <h2>Relação dos Ex-Diretores do CIMH</h2>
    <br>
    <!--Uma tabela HTML é definida com a <table>tag.-->
    <div class="table-responsive">
      <table class="table table-hover">
        <!-- <table class="table table-hover table-dark"> -->
        <!-- <table class="table">  -->
        <thead class="thead-dark">
          <tr align="center"> <!-- linha -->
            <th> POST/GRAD </th> <!-- Cabeçalho -->
            <th> ARMA </th>
            <th> NOME COMPLETO </th>
            <th> PERÍODO </th>
          </tr>
        </thead>
        <tbody>
          <tr align="center">
            <td> Ten Cel </td> <!-- Célula/Coluna-->
            <td> Engenharia </td>
            <td> Nelson Cruz </td>
            <td> 10/09/1952 à 30/05/1954 </td>
          </tr>
          <tr align="center">
            <td> Ten Cel </td> <!-- Célula/Coluna-->
            <td> Engenharia </td>
            <td> Francisco I. L. Gomes </td>
            <td> 18/09/1954 à 30/12/1960 </td>
          </tr>
          <tr align="center">
            <td> Ten Cel </td> <!-- Célula/Coluna-->
            <td> Infantaria </td>
            <td> Ovidio Souto da Silva </td>
            <td> 18/11/1961 à 05/05/1969 </td>
          </tr>
          <tr align="center">
            <td> Ten Cel </td> <!-- Célula/Coluna-->
            <td> Artilharia </td>
            <td> Ary Falcão Macedo </td>
            <td> 06/05/1969 à 18/04/1974 </td>
          </tr>
          <tr align="center">
            <td> Ten Cel </td> <!-- Célula/Coluna-->
            <td> Artilharia </td>
            <td> Nilson Santos Walbach </td>
            <td> 19/04/1974 à 05/09/1977 </td>
          </tr>
          <tr align="center">
            <td> Cel </td> <!-- Célula/Coluna-->
            <td> Infantaria </td>
            <td> Francisco Moacyr Gonçalves </td>
            <td> 24/09/1977 à 28/02/1980 </td>
          </tr>
          <tr align="center">
            <td> Cel </td> <!-- Célula/Coluna-->
            <td> Cavalaria </td>
            <td> Silvio Cardoso </td>
            <td> 26/02/1980 à 04/10/1984 </td>
          </tr>
          <tr align="center">
            <td> Cel </td> <!-- Célula/Coluna-->
            <td> Artilharia </td>
            <td> José Newton Rodrigues Romeiro </td>
            <td> 04/10/1984 à 30/07/1994 </td>
          </tr>
          <tr align="center">
            <td> Ten Cel  </td> <!-- Célula/Coluna-->
            <td> Cavalaria </td>
            <td> Roger Antonio Souza Matta </td>
            <td> 30/07/1994 à 21/01/1998 </td>
          </tr>
          <tr align="center">
            <td> Cel </td> <!-- Célula/Coluna-->
            <td> Engenharia </td>
            <td> Clodomir Rodrigues Calixto </td>
            <td> 22/01/1998 à 09/09/2000 </td>
          </tr>
          <tr align="center">
            <td> Ten Cel </td> <!-- Célula/Coluna-->
            <td> Engenharia </td>
            <td> José Erialdo De A. Monteiro Jr </td>
            <td> 04/09/2000 à 22/01/2003 </td>
          </tr>
          <tr align="center">
            <td> Maj </td> <!-- Célula/Coluna-->
            <td> Infantaria </td>
            <td> Sérgio Corrêa Portela </td>
            <td> 23/01/2003 à 28/01/2005 </td>
          </tr>
          <tr align="center">
            <td> Cel </td> <!-- Célula/Coluna-->
            <td> Cavalaria </td>
            <td> João Carlos Amaro Neto </td>
            <td> 29/01/2005 à 30/08/2006 </td>
          </tr>
          <tr align="center">
            <td> Cel </td> <!-- Célula/Coluna-->
            <td> Infantaria </td>
            <td> José Luiz Dalosto </td>
            <td> 06/12/2006 à 13/02/2009 </td>
          </tr>
          <tr align="center">
            <td> Cel </td> <!-- Célula/Coluna-->
            <td> Cavalaria </td>
            <td> João Carlos Sobral Das Chagas </td>
            <td> 13/02/2009 à 16/02/2011 </td>
          </tr>
          <tr align="center">
            <td> Ten Cel </td> <!-- Célula/Coluna-->
            <td> Comunicações </td>
            <td> André Francisco Martins Dantas </td>
            <td> 16/02/2011 à 15/02/2013 </td>
          </tr>
          <tr align="center">
            <td> Cel </td> <!-- Célula/Coluna-->
            <td> Infantaria </td>
            <td> Luciano Canaparro Behrend </td>
            <td> 15/02/2013 à 11/02/2015 </td>
          </tr>
          <tr align="center">
            <td> Cel </td> <!-- Célula/Coluna-->
            <td> Engenharia </td>
            <td> Marcelo Monn Vasconcellos </td>
            <td> 11/02/2015 à 14/02/2017 </td>
          </tr>
          <tr align="center">
            <td> Cel </td> <!-- Célula/Coluna-->
            <td> Engenharia </td>
            <td> Algemiro Ambrosi Junior </td>
            <td> 01/02/2017 à 19/12/2018 </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
