{% extends 'blog/base.html' %}
{% block title %}Localização{% endblock %}
{% block content %}
<article>
  <br>
  <h2>Localização da Sede Administrativa do CIMH-1</h2> <!-- Link usado no site antigo -->
  <p><a href="https://goo.gl/maps/4z7by9BprWR65Ga16"
  target="_blank">Sede-1</a></p>
  <br>
  <!-- <br> -->
  <!-- Link em teste - conforme modelo do site antigo -->
  <!-- <h2>Localização da Área de Manobras do CIMH-2</h2> -->
  <!-- <p><a href="https://www.google.com/maps/place/Campo+de+Instru%C3%A7%C3%A3o+Marechal+Hermes+(Tiro+das+Armas+Coletivas)/@-26.2387011,-50.2502074,17.5z/data=!4m5!3m4!1s0x94e7697237e13321:0x57d5027c3b1e6763!8m2!3d-26.2384666!4d-50.2489332" -->
  <!-- target="_blank">Sede-2</a></p> -->
  <!-- <br> -->
  <br>
  <h2>Localização da Área de Manobras do CIMH-2-0</h2><!-- Link em teste - conforme modelo do site antigo -->
  <p><a href="https://goo.gl/maps/3zQzaGcpWMoqjZZx7"
  target="_blank">Sede-2-0</a></p>
  <br>
  <br>
  <h2>Localização da Área de Manobras do CIMH-2-1</h2> <!-- Link em teste - usando incorporação do maps por iframe-->
  <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.5281432260767!2d-50.25020736581317!3d-26.238701102283166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94e7697237e13321%3A0x57d5027c3b1e6763!2sCampo%20de%20Instru%C3%A7%C3%A3o%20Marechal%20Hermes%20(Tiro%20das%20Armas%20Coletivas)!5e0!3m2!1spt-BR!2sbr!4v1601250402784!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" target="_blank">Sede-2-1</iframe></p>
  <br>
  <br>
  <h2>Localização da Área de Manobras do CIMH-2-2</h2> <!-- Link em teste - usando incorporação do maps por iframe-->
  <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.5281432260767!2d-50.25020736581317!3d-26.238701102283166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94e7697237e13321%3A0x57d5027c3b1e6763!2sCampo%20de%20Instru%C3%A7%C3%A3o%20Marechal%20Hermes%20(Tiro%20das%20Armas%20Coletivas)!5e0!3m2!1spt-BR!2sbr!4v1601250402784!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" target="_blank"></iframe></p> <!-- Sede -2-2 -->
  <br>
  <!-- <br> -->
  <!-- Link em teste - usando incorporação do maps por iframe-->
  <!-- <h2>Localização da Área de Manobras do CIMH-2-3</h2> <!-- Link em teste - usando incorporação do maps por iframe--> -->
  <!-- <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.5281432260767!2d-50.25020736581317!3d-26.238701102283166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94e7697237e13321%3A0x57d5027c3b1e6763!2sCampo%20de%20Instru%C3%A7%C3%A3o%20Marechal%20Hermes%20(Tiro%20das%20Armas%20Coletivas)!5e0!3m2!1spt-BR!2sbr!4v1601250402784!5m2!1spt-BR!2sbr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" target="_blank">Sede-2-3</iframe></p>  -->
  <!-- Tamanho pequeno -->
  <!-- <br> -->
</article>
{% endblock %}
