{% extends 'blog/base.html' %}
{% block title %}Missão{% endblock %}
{% block content %}
<div class="container-fluid">
  <h2>Missão</h2>
  <!--A tag <strong> é uma tag de frase. Define texto importante.
  Dica: essa tag não está obsoleta, mas é possível obter um efeito mais rico com o CSS. -->
  <strong>MISSÃO DO CIMH</strong>
  <br>
  <br>
  <div align="justify">
    Assegurar as áreas sob responsabilidade do CIMH, e mantê-las em condições de receberem as OOMM da 5ª RM/5ªDE para seus exercícios de adestramento.
  </div>
</div>
{% endblock %}
