{% extends 'blog/base.html' %}
{% block title %}Objetivos{% endblock %}
{% block content %}
<div class="container-fluid">
  <h2>Objetivos</h2>
  <!--A tag <strong> é uma tag de frase. Define texto importante.
  Dica: essa tag não está obsoleta, mas é possível obter um efeito mais rico com o CSS. -->
  <strong>OBJETIVOS DO CIMH</strong>
  <br>
  <br>
  <div align="justify">
    Atingir padrões de excelência de zelo e de responsabilidade nas áreas  relativas ao público interno, ao patrimônio, a administração, a instrução e a ação social e ambiental.
  </div>
</div>
{% endblock %}
