{% extends 'blog/base.html' %}
{% block title %}Telefones Militar{% endblock %}
{% block content %}
 <div class="container-fluid">
  <h2>Contatos de Telefones</h2>
  <!--A tag <strong> é uma tag de frase. Define texto importante.
  Dica: essa tag não está obsoleta, mas é possível obter um efeito mais rico com o CSS. -->
   <strong>CONTATOS DE TELEFONES MILITAR</strong>
   <!-- <br>
   <br> -->
  <div class="container" style="margin-top:30px">
  <!-- <div class="container" align="center"> -->
  <!-- <div class="container" style="margin-top:30px;margin-left:40px"> -->
   <div class="row">
    <div class="col-sm" align="center">
    </div>
    <!-- <div class="col-sm" align="center">
    </div> -->
    <div class="col-sm-9" align="center">
    <!-- <div class="col-sm-9" align="center"> -->
    <!-- <div align="center"> -->
    <!-- <div class="p-1 p-md-5" align="center"> -->
    <!-- <div class="table-responsive-sm"> -->
    <!-- <div class="table table-responsive-sm"> -->
     <h2>Lista de Telefones<br>de Orgãos Militar</h2>
     <br>
     <!--Uma tabela HTML é definida com a <table>tag.-->
     <div class="table-responsive">
      <div class="table-overflow">
        <table class="table table-hover">
          <!-- <table class="table table-hover table-responsive-sm"> -->
          <!-- <table class="table table-hover table-responsive"> -->
          <!-- <table class="table table-hover table-dark"> -->
          <!-- <table class="table">  -->
          <thead class="thead-dark">
            <tr align="center"><!-- linha -->
              <th>ORGANIZAÇÃO</th> <!-- Cabeçalho -->
              <th>TELEFONES</th>
            </tr>
          </thead> <!--<thead class="thead-dark"> cabeçalho da tabela -->
            <tbody> <!--<tbody> corpo da tabela -->
              <tr align="center">
                <td>CIMH - Guarda</td> <!-- Célula/Coluna-->
                <td>(47) 3623-5114</td>
              </tr>
              <tr align="center">
                <td>CIMH - Fiscal Administrativo</td>
                <td>(47) 3623-5186</td>
              </tr>
              <tr align="center">
                <td>CIMH - Área de Manobras</td>
                <td>(47) 3622-4700</td>
              </tr>
              <tr align="center">
                <td>CIMH - Diretor</td>
                <td>(47) 3623-0947</td>
              </tr>
              <tr align="center">
                <td>Comando Militar do Sul</td>
                <td>(51) 3215-8400</td>
              </tr>
              <tr align="center">
                <td>5 Região Militar </td>
                <td>(41) 3316-4800</td>
              </tr>
              <tr align="center">
                <td>AD / 5</td>
                <td>(41) 3316-4873</td>
              </tr>
              <tr align="center">
                <td>5 Cia PE</td>
                <td>(41) 3316-4864</td>
              </tr>
              <tr align="center">
                <td>CRO / 5</td>
                <td>(41) 3268-0147</td>
              </tr>
              <tr align="center">
                <td>11 CT</td>
                <td>(41) 3316-4888</td>
              </tr>
              <tr align="center">
                <td>HGCE - Geral</td>
                <td>(41) 3281-7500</td>
              </tr>
              <tr align="center">
                <td>HGCE - Marcação de Consultas</td>
                <td>(41) 3281-7530</td>
              </tr>
              <tr align="center">
                <td>HGCE - Marcação de Consultas</td>
                <td>(41) 3281-7546</td>
              </tr>
              <tr align="center">
                <td>HGCE - SAME</td>
                <td>(41) 3281-7523</td>
              </tr>
              <tr align="center">
                <td>HGCE - FUSEx</td>
                <td>(41) 3281-7538</td>
              </tr>
              <tr align="center">
                <td>HGCE - JIS</td>
                <td>(41) 3281-7517</td>
              </tr>
              <tr align="center">
                <td>POUPEx</td>
                <td>(41) 2108-3830</td>
              </tr>
              <tr align="center">
                <td>5 B Log</td>
                <td>(41) 3316-4892</td>
              </tr>
              <tr align="center">
                <td>5 B Sup</td>
                <td>(41) 3304-6312</td>
              </tr>
              <tr align="center">
                <td>5 RCC</td>
                <td>(47) 3642 3144</td>
              </tr>
              <tr align="center">
                <td>15 B Log</td>
                <td>(45) 3225-1399</td>
              </tr>
              <tr align="center">
                <td>27 B Log</td>
                <td>(41) 3256-2044</td>
              </tr>
              <tr align="center">
                <td>Pq R Mnt / 5</td>
                <td>(41) 3356-2882</td>
              </tr>
              <tr align="center">
                <td>2 Cia Sup / 5 B Sup</td>
                <td>(42) 3252-1414</td>
              </tr>
              <tr align="center">
                <td>5 BE Cmb Bld</td>
                <td>(42) 3522-1693</td>
              </tr>
              <tr align="center">
                <td>JSM 119 - Três Barras</td>
                <td>(47) 3623-1451</td>
              </tr>
              <tr align="center">
                <td>JSM 111 - Canoinhas</td>
                <td>(47) 3622-3469</td>
              </tr>
              <tr align="center">
                <td>16 CSM</td>
                <td>(48) 3222-5612</td>
              </tr>
              <tr align="center">
                <td>5 Bda C Bld</td>
                <td>(42) 3225-2477</td>
              </tr>
              <tr align="center">
                <td>14 Bda Inf Mtz</td>
                <td>(48) 3722-4400</td>
              </tr>
              <tr align="center">
                <td>15 Bda Inf Mec</td>
                <td>(45) 3225-1022</td>
              </tr>
            </tbody> <!--<tbody> corpo da tabela -->
        </table> <!-- <table class="table table-hover"> -->
      </div> <!-- <div class="table-overflow"> -->
     </div> <!--   <div class="table-responsive"> -->
    </div> <!-- <div class="col-sm-9" align="center"> -->
    <div class="col-sm" align="center">
    </div>
   </div> <!--  <div class="row"> -->
  </div> <!-- div que abrange a tabela <div class="container" style="margin-top:30px"> -->
 </div> <!-- div principal(da página inteira) - <div class="container-fluid"> -->
{% endblock %}
