{% extends 'blog/base.html' %}
{% block title %}Telefones Civis{% endblock %}
{% block content %}
 <div class="container-fluid">
  <h2>Contatos de Telefones</h2>
  <!--A tag <strong> é uma tag de frase. Define texto importante.
  Dica: essa tag não está obsoleta, mas é possível obter um efeito mais rico com o CSS. -->
   <strong>CONTATOS DE TELEFONES DE ORGÃOS PÚBLICOS</strong>
   <!-- <br>
   <br> -->
  <div class="container" style="margin-top:30px">
  <!-- <div class="container" align="center"> -->
  <!-- <div class="container" style="margin-top:30px;margin-left:40px"> -->
   <div class="row">
    <div class="col-sm" align="center">
    </div>
    <!-- <div class="col-sm" align="center">
    </div> -->
    <div class="col-sm-9" align="center">
    <!-- <div class="col-sm-9" align="center"> -->
    <!-- <div align="center"> -->
    <!-- <div class="p-1 p-md-5" align="center"> -->
    <!-- <div class="table-responsive-sm"> -->
    <!-- <div class="table table-responsive-sm"> -->
     <h2>Lista de Telefones<br>de Orgãos Públicos</h2>
     <br>
     <!--Uma tabela HTML é definida com a <table>tag.-->
     <div class="table-responsive">
      <div class="table-overflow">
        <table class="table table-hover">
          <!-- <table class="table table-hover table-responsive-sm"> -->
          <!-- <table class="table table-hover table-responsive"> -->
          <!-- <table class="table table-hover table-dark"> -->
          <!-- <table class="table">  -->
          <thead class="thead-dark">
            <tr align="center"><!-- linha -->
              <th>ORGÃOS</th> <!-- Cabeçalho -->
              <th>TELEFONES</th>
            </tr>
          </thead> <!--<thead class="thead-dark"> cabeçalho da tabela -->
            <tbody> <!--<tbody> corpo da tabela -->
              <tr align="center">
                <td>Auto Elétrica Três Barras</td>
                <td> (47) 3623-0161</td>
              </tr>
              <tr align="center">
                <td>Avenida Materiais de Construção</td>
                <td> (47) 3623-0157</td>
              </tr>
              <tr align="center">
                <td>Banco Bradesco</td>
                <td> (47) 3623-0292</td>
              </tr>
              <tr align="center">
                <td>Banco do Brasil</td>
                <td>(47) 3623-0210</td>
              </tr>
              <tr align="center">
                <td>Banco Itaú</td>
                <td>(47) 3623-0100</td>
              </tr>
              <tr align="center">
                <td>Barbeiro - Dine</td>
                <td>(47) 8807-9998</td>
              </tr>
              <tr align="center">
                <td>Cartório</td>
                <td>(47) 3623-0265</td>
              </tr>
              <tr align="center">
                <td>CELESC</td>
                <td>(47) 3623-0195</td>
              </tr>
              <tr align="center">
                <td>CELESC</td>
                <td>0800 480196</td>
              </tr>
              <tr align="center">
                <td>Correios</td>
                <td>(47) 3623-0140</td>
              </tr>
              <tr align="center">
                <td>Delegacia de Polícia Civil</td>
                <td>(47) 3623-0131</td>
              </tr>
              <tr align="center">
                <td>Egídio Moretti Oficina Mecânica</td>
                <td>(47) 3623-0261</td>
              </tr>
              <tr align="center">
                <td>Entalhador Valdenilson</td>
                <td>(47) 9222-4402</td>
              </tr>
              <tr align="center">
                <td>Fábio e Junior Papelaria</td>
                <td>(47) 3623-0290</td>
              </tr>
              <tr align="center">
                <td>FOREX</td>
                <td>(47) 3624-2721</td>
              </tr>
              <tr align="center">
                <td>Hospital de Três Barras</td>
                <td>(47) 3623-0203</td>
              </tr>
              <tr align="center">
                <td>Hospital de Três Barras</td>
                <td>(47) 3623-0201</td>
              </tr>
              <tr align="center">
                <td>Posto de Saúde</td>
                <td>(47) 3623-0058</td>
              </tr>
              <tr align="center">
                <td>Igreja Católica</td>
                <td>(47) 3623-0233</td>
              </tr>
              <tr align="center">
                <td>Igreja Evangélica</td>
                <td>(47) 3623-0911</td>
              </tr>
              <tr align="center">
                <td>Lev Pão Padaria</td>
                <td>(47) 3623-1380</td>
              </tr>
              <tr align="center">
                <td>Maíco Antenas Parabólicas</td>
                <td>(47) 3623-0257</td>
              </tr>
              <tr align="center">
                <td>Maíco Antenas Parabólicas</td>
                <td>(47) 9655-8275</td>
              </tr>
              <tr align="center">
                <td>Maxipeças Eletro Autopeças</td>
                <td>(47) 3623-0608</td>
              </tr>
              <tr align="center">
                <td>MILI</td>
                <td>(47) 3621-4100</td>
              </tr>
              <tr align="center">
                <td>Posto São Gabriel</td>
                <td>(47) 3623-0628</td>
              </tr>
              <tr align="center">
                <td>RIGESA </td>
                <td>(47) 3621-5400</td>
              </tr>
              <tr align="center">
                <td>SAMASA</td>
                <td>(47) 3623-1473</td>
              </tr>
              <tr align="center">
                <td>SAMASA - Plantão</td>
                <td>(47) 8444-1669</td>
              </tr>
              <tr align="center">
                <td>Superlar Supermercado</td>
                <td>(47) 3623-0190</td>
              </tr>
              <tr align="center">
                <td>Telli Foto</td>
                <td>(47) 3623-0364</td>
              </tr>
              <tr align="center">
                <td>Junior Temperados, Esquadrias e Vidraçaria</td>
                <td>(47) 3623-0942</td>
              </tr>
            </tbody> <!--<tbody> corpo da tabela -->
        </table> <!-- <table class="table table-hover"> -->
      </div> <!-- <div class="table-overflow"> -->
     </div> <!--   <div class="table-responsive"> -->
    </div> <!-- <div class="col-sm-9" align="center"> -->
    <div class="col-sm" align="center">
    </div>
   </div> <!--  <div class="row"> -->
  </div> <!-- div que abrange a tabela <div class="container" style="margin-top:30px"> -->
 </div> <!-- div principal(da página inteira) - <div class="container-fluid"> -->
{% endblock %}
