{% extends 'blog/base.html' %}
{% block title %}Visão{% endblock %}
{% block content %}
<div class="container-fluid">
  <h2>Visão</h2>
  <!--A tag <strong> é uma tag de frase. Define texto importante.
  Dica: essa tag não está obsoleta, mas é possível obter um efeito mais rico com o CSS. -->
  <strong>VISÃO DO CIMH</strong>
  <br>
  <br>
  <div align="justify">
    Expandir oportunidades para que todas as OOMM do Exército Brasileiro possam executar seus exercícios de adestramento nas áreas de responsabilidade do CIMH.
  </div>
</div>
{% endblock %}
